

#atras{
	float:left;
	font-family: Roboto;
	width: 33%;
	height: 48px;
	line-height: 20px;
	text-align: center;
	color: white;
	background-image: url('screen-header.png');
	background-color: rgb(7, 19, 174);
}

#buscar {
float:left;
	font-family: Roboto;
	width: 47%;
	height: 48px;
	line-height: 20px;
	text-align: center;
	color: white;
	background-image: url('screen-header.png');
	background-color: rgb(7, 19, 174);
}

#icono {
float:right;
	font-family: Roboto;
	width: 20%;
	height: 48px;
	line-height: 20px;
	text-align: center;
	color: white;
	background-color: rgb(7, 19, 174);
}


#atras a {
	font-family: Roboto;
	text-decoration: none;
	color: white;
}



input[type="text"]{
	background-image: url(text-field-blanco.png);
	background-color: rgb(255,255,255);
	background-color: transparent;
	height: 48px;
	width: 134px;
	border: none;
	padding-left: 12px;
}
input[type="text"]:focus{
	background-color: rgb(255,255,255);
	background-image: url(text-field-activated2.png);
	height: 48px;
	width: 134px;
	border: none;
	padding-left: 12px;
}


#contenido {
float:left;
border:none;
width:100%;
height:100%;
}


html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }



